/* Add CSS Styling */
.button1 {
    background-color: black;
    color: white;
}
 .button2 {
    background-color: orange;
 }
  .both {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
  }